div {
	padding:0;
	#border-radius: 10px;
	#border:1px solid red;
}

@font-face {
 font-family: "Zeroes";
 src: url("res/fonts/zeroes_3.ttf");
}

html{
	font-family: Calibri;
	letter-spacing:1px;
	font-size:14px;
	background-color:black;
    overflow-x: auto;
  -webkit-font-smoothing: antialiased;
}
summary{
	cursor:pointer;
}
button{
	font-family:Zeroes;
}

.tooltiptext {
	opacity:0.85;
    visibility: hidden;
    text-align: left;
    padding: 5px;
	 padding-right:20px;
    z-index: 10;
}
.tooltipZone{
    position: fixed;
}

.tooltip .legacyTooltiptext {
	opacity:0.85;
    visibility: hidden;
    text-align: left;
    padding: 5px;
    position: fixed;
    z-index: 10;
}

.tooltip:hover .legacyTooltiptext {
    visibility: visible;
}

/* Tooltip container */
.bubbleInfo {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.bubbleInfo .bubbleText {
    visibility: hidden;
    width: 140px;
    top: 100%;
    left: 50%; 
    margin-left: -70px; 
    background-color: #303030;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	border:1px solid grey;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.bubbleInfo:hover .bubbleText {
    visibility: visible;
}

.blueprintLink{
	text-decoration:none;
}
.blueprintLink:hover{
	text-decoration:underline;
	font-weight:bold;
}
.categoryName{
	color:#EEEEEE;
	background-color:#303030;
	font-variant:small-caps;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	font-family: Candara;
}

.title{
	font-size: 2em;
}
input[type=checkbox]{
	width:16px;
	height:16px;
	border:1px solid white;
}
.unit{
	padding-left:4px;
	
	display: flex;
	width:100%;
	justify-content:flex-start;
	flex-direction: row;
}
.unitMainDiv{
	display:flex;
	flex-direction:row-reverse;
}
.classicStyle{
	display: flex;
	justify-content:flex-start;
	flex-direction: column;
	width:100%;
}
.spookyStyle{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
}
.spookyStyle .unitMainDiv{
	height:64px;
}

.spookyStyle .unitMainDiv:hover div .previewImg{
	opacity:0.75;
	background-color:white;
}
.spookyStyle .unitSelected div .previewImg{
	filter:brightness(300%);
}
.unitMainDiv:hover{
	font-weight:bold;
	background-color:grey;
	color:white;
}
.unitSelected{
	background-color:black;
	font-weight:bold;
	color:white;
}
.unitSelected:hover{
	background-color:#333333;
	font-weight:bold;
	color:white;
}
.unitName{
	margin-left:4px;
}
.unitHotLink:hover{
	cursor: pointer;
	text-decoration:underline;
}

.comparisonBoard{
	display: flex;
	justify-content:left;
	flex-direction: column;
	flex-wrap: nowrap;
}
.boardLane{
	display: flex; 
	flex-flow: row nowrap;
	justify-content:flex-start;
}
#comparatorPopup, .comparatorPopup{
	position:relative;
	width:300px;
	left:-50%;
	height:32px;
	bottom:0px;
	color:white;
	background:linear-gradient(to bottom, #333333, BLACK, #333333);
	border:1px solid grey;
	cursor:pointer;
	z-index:5;
}
#comparatorPopup:hover, .comparatorPopup:hover{
	color:white;
	background:linear-gradient(to bottom, #333333, #222222, #333333);
}
.unitCompared{
	flex-shrink:0;
	display: flex;
	width:300px;
	margin:0px;
	margin-left:40px;
	margin-right:40px;
	justify-content:flex-start;
	flex-wrap: nowrap;
	flex-direction: column;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.backgroundIconOverlap{
	position: absolute;
	left:0px;
	top:0px;
	z-index:0;
}
.strategicIcon{
	position: absolute;
	left:0px;
	top:0px;
	z-index:1;
}
.strategicIconDiv{
	width:20px; 
	height:20px;
}
.strategicIconOverlap{
	position: absolute;
	left:5px;
	bottom:5px;
	z-index:2;
}

.previewImg{
	flex-shrink:0;
	border: 1px solid white;
	position: relative;
	width: 64px;
	height: 64px;
}

.unitTitleBar{
	font-family: Consolas;
	display: flex;
	justify-content:flex-start;
	flex-direction: row;
}

.previewTitle{
	#font-weight:bold;
	padding-left:15px;
	padding-bottom:0px;
	margin:0;
	font-size:20px;
}

.healthBar{
	width: 100%;
	text-align:center;
	font-size:16px;
	height:24px;
	margin-top: 4px;
	margin-bottom: 4px;
	background: linear-gradient(to bottom, lightgreen, green, darkgreen, lightgreen);
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-weight:bold;
	text-shadow: 1px 1px black;
}
/* Removed because hard to read
.positiveYield{
	color:darkgreen;
	font-weight:bold;
}
.negativeYield{
	color:brown;
	font-weight:bold;
}
*/

.shieldBar{
	width: 100%;
	color:black;
	text-align:center;
	background: linear-gradient(to bottom, lightblue, aqua, lightblue);
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	#text-shadow: 1px 1px white;
}
.sheetSection{
	padding-top:10px;
}
.smallTitle{
	width: 100%;
	text-align:center;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
	font-weight:bold;
	font-variant: small-caps;
	font-size:16px;
	font-family: Candara;
	padding-bottom:4px;
	#text-shadow: 2px 2px 2px black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.flexColumns{
	display: flex;
	justify-content:space-around;
	flex-direction: row;
}
.info{
	width:100%;
	#text-shadow: 1px 1px black;
	text-align:center;
	#font-weight:bold;
}
.weaponCategory{
	cursor:pointer;
	color:grey;
	background:rgba(0,0,0,0.1);
	text-align:left;
	font-weight:normal;
	border-bottom:1px dotted grey;
}
.weaponCategory:hover, details[open] summary.weaponCategory{
	font-weight:bold;
	color:white;
}
.weaponLine{
	border-bottom:1px dotted grey;
}
details[open] summary.weaponCategory{
	background:rgba(0,0,0,0.25);
	border-bottom:0px;
}
.weaponList{
	text-align:center;
	margin-bottom:8px;
	font-weight:normal;
}
.weaponList[open]{
	background:rgba(0,0,0,0.25);
}
.littleInfo{
	#font-size:0.8em;
	#font-weight:bold;
	#text-shadow: 1px 1px black;
	text-align:right;
	margin-right:8px;
	width:100%;
}
.littleInfoVar{
	#font-size:0.8em;
	#text-shadow: 1px 1px black;
	text-align:left;
	margin-left:8px;
	width:100%;
}
.flexRows{
	display: flex;
	justify-content:space-around;
	flex-direction: column;
}
.flexWrap{
	display: flex; 
	flex-flow: row wrap;
	justify-content:space-around;
}
.energy{
	color:#ffff99;
}
.mass{
	color:#99ff99;
}
.buildTime{
	color:lightgrey;
}
.energyCost{
	text-align:center;
	width:100%;
	font-weight:bold;
	background-color:#ffff99;
}
.massCost{
	width:100%;
	text-align:center;
	font-weight:bold;
	background-color:#99ff99;
}
.buildTimeCost{
	width:100%;
	font-weight:bold;
	text-align:center;
	background-color:lightgrey;
}
.ACUVetZone{
	border: 1px solid black;
	border-top:0px;
	padding-right:8px; 
	padding-left:8px; 
}
.tabZone{
	cursor:pointer;
}
.tabZone div:hover{
	background-color:rgba(255,255,255,0.25);
}
.tabZone div{
	font-family: Consolas;
	#text-shadow: 1px 1px black;
	font-weight:bold;
	background-color:rgba(0,0,0,0.25);
	width:100%;
	text-align:center;
	padding:2px;
	border-bottom: 1px solid black;
	color:grey;
}
.tabZone div[selected]{
	font-weight:solid;
	background-color:rgba(0,0,0,0);
	color:white;
	margin-bottom:0px;
	border: 1px solid black;
	border-bottom:0px;
	border-top:0px;
}
.comparatorRemoveButton{
	color:red;
	background-color:rgba(0,0,0,0.25);
	position:absolute;
	right:0;
	top:0;
}
.visionRadius, .radarRadius, .sonarRadius{
	width:100%;
	font-weight:bold; 
	text-shadow: 1px 1px black;
	text-align:center;
	border-bottom:1px solid black;
}
.visionRadius{
	background-color:#660000;
}
.radarRadius{
	background-color:#006666;
}
.sonarRadius{
	background-color:#003300;
}
.veterancyLogoZone{
	text-align:left;
	width:30%;
}
.allUnitsVetTab{
	border-bottom:1px dotted grey;
}
.enhancementImg{
	width:16px; 
	height:16px;
	vertical-align:middle;
}
.sectionTerminator{
	border-bottom:1px solid white;
	height:8px;
}
.unitBlueprintName{
	font-weight:bold; 
	font-style:italic;
}
.factionsHeader{
	display: flex;
	border:1px solid black;
	justify-content:space-between;
	flex-direction: row;
}
.factionSplash{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:100%;
	font-family:Zeroes;
	padding-left:8px;
	text-shadow: 2px 2px black;
	text-align:left;
}
.unitListCategories{
	display: flex;
	border:1px solid black;
	justify-content:space-between;
	flex-direction: column;
}
.unitlistArmyRow{
	display: flex;
	justify-content:flex-start;
	flex-direction: row;
	width:100%;
}
.unitCustomName{
	font-weight:bold; 
	font-style:italic;
}
.comparatorButtonDiv{
	position:fixed;
	left:50%;
	z-index:5;
	bottom:10px;
}
.settingsButton{
	position:fixed;
	right:15px;
	bottom:-16px;
	color:#EEEEEE;
	background-color:#303030;
	font-family:Zeroes;
	height:48px;
	width:128px;
	padding:8px;
	border-radius:8px;
	cursor:pointer;
}
.settingsDiv{
	position:absolute;top:8px;left:0px;text-align:center;width:100%;
}
.settingsMenu{
	z-index:10;
	position:fixed;
	left:50%;
	top:25%;
	margin-left:-300px;
	color:#EEEEEE;
	background-color:#303030;
	border:1px solid white;
	width:600px;
	display:none;
}
.settingsMenuTitle{
	font-family:Zeroes;text-align:center;width:100%;margin-top:8px;margin-bottom:16px;
}
.settingsMenuList{
	width:100%;text-align:center;margin-bottom:32px;
}
.settingsApplyButton{
	font-family:Zeroes;
	color:#303030;
	background-color:#EEEEEE;
	width:30%;
}
.externalBlueprint{
	color:white;
}
.unitcardShieldBar{
	height:18px;
	font-weight:bold;
	background:linear-gradient(to bottom, darkTurquoise, #008B8B, #006B6B, #005B5B, #006B6B, #008B8B, darkTurquoise);
	border-top:1px solid darkTurquoise;
	border-bottom:1px solid darkTurquoise;
	text-shadow: 1px 1px black;
}
.supportInfo{
	width:200%;
}
.supportInfoVar{
	font-weight:bold;
	text-shadow: 1px 1px black;
}
.supportData{
	padding-top:6px;
	display: flex;
	justify-content:space-around;
	flex-direction: row;
}
.supportData div{
	border-bottom: 1px dotted grey;
}